<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/artist.css">
    <title>{{.Name}} - Artist Details</title>
</head>
<body>
    <div class="container">
        <div class="center">
            <h1>{{.Name}}</h1>
            <img src="{{.Image}}" alt="{{.Name}}"></img>
        </div>
        <div class="info-grid">
            <div class="info-item">
                <h2>Creation Date</h2>
                <p>{{.CreationDate}}</p>
            </div>
            <div class="info-item">
                <h2>First Album</h2>
                <p>{{.FirstAlbum}}</p>
            </div>
            <div class="info-item">
                <h2>Members</h2>
                <ul>
                    {{range .Members}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
            <div class="info-item">
                <h2>Locations</h2>
                <ul>
                    {{range .Locations}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
            <div class="info-item">
                <h2>Concert Dates</h2>
                <ul>
                    {{range .ConcertDates}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
            <div class="info-item">
                <h2>Relations</h2>
                {{range $location, $relation := .Relations}}
                <h3>{{$location}}</h3>
                <ul>
                    {{range $relation}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
                {{end}}
            </div>
        </div>
        <a href="/">Back to Artist List</a>
    </div>
</body>
</html>